# Replace the 3 instances of your_username with your username

[Unit]
Description=IEC Printer Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

# Change this to the user you created on your Raspberry Pi
User=your_username

# The command to start the server.
WorkingDirectory=/home/your_username/IEC-printer
ExecStart=python /home/your_username/IEC-printer/scripts/python_server.py -p

Restart=on-failure

[Install]
WantedBy=multi-user.target